
<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Respira</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>

<div class="container">

    <div class="top-buttons">
        <a href="{{ url_for('menu') }}" class="icon-button">←</a>
        <a href="{{ url_for('home') }}" class="icon-button">⌂</a>
    </div>


    <h1 id="breath-text">
        INHALE
    </h1>


    <div class="breathing-circle"></div>


</div>


<script>

const text = document.getElementById("breath-text");
const circle = document.querySelector(".breathing-circle");

let phase = 0;


function breathing(){

    if(phase === 0){
        text.innerHTML = "INHALE";
        circle.className = "breathing-circle inhale";
    }

    if(phase === 1){
        text.innerHTML = "HOLD";
        circle.className = "breathing-circle hold";
    }

    if(phase === 2){
        text.innerHTML = "EXHALE";
        circle.className = "breathing-circle exhale";
    }


    phase++;

    if(phase > 2){
        phase = 0;
    }

}


breathing();

setInterval(breathing, 4000);


</script>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>

