<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Contattami</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>

<div class="container">

    <div class="top-buttons">
        <a href="/menu" class="icon-button">←</a>
        <a href="/" class="icon-button">⌂</a>
    </div>


    <p class="soft-title">
        Piccola non esitare a contattarmi!!
    </p>


    <div class="menu-buttons">

        <a href="tel:+393287350079" class="help-button">
            📞 Chiamami
        </a>


        <a href="https://wa.me/393287350079?text=ho%20bisogno%20d'aiuto%20amore"
           class="help-button">
            💬 Scrivimi su WhatsApp
        </a>


    </div>


</div>

</body>

</html>