<head>
    <meta charset="UTF-8">
    <title>Calm Noela</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="manifest" href="manifest.json">
<meta name="theme-color" content="#7c9cff">
</head>
 
<body>

<div class="container">

    <h1>
        Ciao Noela,<br>
        hai bisogno d'aiuto?
    </h1>


    <p>
        Se stai avendo un attacco di panico,
        prenditi un momento.<br>
        <span>Respira</span>
    </p>


    <div class="home-button">
        <a href="menu.html" class="help-button"
            Ho bisogno d'aiuto
        </a>
    </div>

</div>
</div>

<script>

if ("serviceWorker" in navigator) {

navigator.serviceWorker.register(
"/static/service-worker.js"
);

}


<script>
if ("serviceWorker" in navigator) {
  navigator.serviceWorker.register("service-worker.js");
}
</script>

</body>
</html>
