<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Aiuto</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>

<div class="container">

    <div class="top-buttons">
        <a href="/" class="icon-button">←</a>
        <a href="/" class="icon-button">⌂</a>
    </div>


    <h1>
        Come posso aiutarti?
    </h1>


    <div class="menu-buttons">

        <a href="/grounding" class="help-button">
            🌿 5-4-3-2-1
        </a>


        <a href="/breathing" class="help-button">
            🌬 Respira con me
        </a>


        <a href="/contact" class="help-button">
            ❤️ Contattami
        </a>


        <a href="/needs" class="help-button">
            📝 Di cosa hai bisogno?
        </a>


        <a href="/message" class="help-button">
            💌 Il tuo messaggio
        </a>

    </div>


</div>

</body>
</html>