<!DOCTYPE html>

<html lang="it">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Aiuto</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

<div class="container">


<div class="top-buttons">
    <a href="{{ url_for('home') }}" class="icon-button">←</a>
    <a href="{{ url_for('home') }}" class="icon-button">⌂</a>
</div>

<h1>
    Come posso aiutarti?
</h1>

<div class="menu-buttons">

    <a href="{{ url_for('grounding') }}" class="help-button">
        🌿 5-4-3-2-1
    </a>

    <a href="{{ url_for('breathing') }}" class="help-button">
        🌬 Respira con me
    </a>

    <a href="{{ url_for('contact') }}" class="help-button">
        ❤️ Contattami
    </a>

    <a href="{{ url_for('needs') }}" class="help-button">
        📝 Di cosa hai bisogno?
    </a>

    <a href="{{ url_for('message') }}" class="help-button">
        💌 Il tuo messaggio
    </a>

</div>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
