<!DOCTYPE html>
<html lang="it">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Il tuo messaggio</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>

<div class="container">

    <div class="top-buttons">
        <a href="{{ url_for('menu') }}" class="icon-button">←</a>
        <a href="{{ url_for('home') }}" class="icon-button">⌂</a>
    </div>


    <p class="love-message">

        Ciao amore mio, che succede?<br><br>

        Sei stressata vero? Qualcuno ti ha buttato giu, oppure mh è la tua ansia?<br><br>

        Qualsiasi cosa sia io ti amo da impazzire e non ho paura,
        non mi spaventi, neanche se mi respingerai,
        anche se spero tu non lo faccia...<br><br>

        Voglio essere la spalla su cui piangi e voglio esserci
        nel bene e nel male.<br><br>

        Non avere paura, non preoccuparti non ti giudicherò,
        starò in silenzio se vorrai, oppure parlerò come un logorroico
        di cose che magari nemmeno ti interessano,
        solo per farti pensare ad altro,
        magari a quanto sono odioso io.<br><br>

        Mostrami quel tuo bel sorrisetto e prendimi per mano,
        siamo io e te. 🤍

    </p>


</div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>

